<template name="admin">
  

  <h1>Biomassives site and app dashboard</h1>

 <nav onmouseover="">
		<a href="#" title="Menu">Menu</a>
		<a href="#" title="Account">Account</a>
		<a href="#" title="Settings">Settings</a>
		<a href="#" title="Email">Email</a>
	</nav>

 <p>
  <span><b>Things you can do here:</b></span>
  </p>
  <ul>
  	<li>Web Analytics</li>
  	<li><a href="/admin/blog">Maintain a Blog</a></li>
    <li>Product Inventory</li>
    <li>Speetest your sites</li> 
    <li>Check site rank on google</li>
    <li><a href="https://www.browserstack.com/users/sign_in  ">Review your site usability</a> via browserstack</li>
  </ul>


<div align=right> 
 
  <b>Your sites</b>
  <hr>
  ecocity.com<BR>
  biomassiv.es<BR>
  imagecoop.com<BR>
  heap.center<BR>
  <hr>
  <b>Projects</b>
  <hr>
  <a href="http://mbanzaband.com">mbanzaband.com</a><BR>
  <a href="http://nedthairestaurant.com">nedthairestaurant.com</a><BR>



<hr>
Via Robbie<BR>

  <a href="http://custermuseum.com">custermuseum.com</a><BR>
  <a href="http://biomassiv.es/ssol/ng">custermuseum.com</a><BR>

<hr>Accounting<br>
active:
 custer museum<BR>


bid:
 sustener
 approvideo
 reintreestable


  <hr>
  <b>todo</b>
  <hr>

  recognize users upon login and load their settings.<Br>
    -- users who represent other clients<Br>
    -- users who generate a commission to track<Br>
    -- all users need to be able to leave secure notes<Br>
    -- all users can have a private version or live<Br>version of things.. ( ecocity notes, batch system<Br>tracker, magento shop management vm,)<Br>

<Br>

add eu compliant homepage info adder

add splash page<Br>

add blog access only via admin and priv. users..<Br>

provide cms link for regular users.<Br>

automate data import for site analytics<Br>

<hr><b>Legacy to update</b>

<ul>
<li> <a href="http://approvideo.org">Approvideo</a></li>
<li> <a href="http://reintreestables.drupalgardens.org"></li>Stables</a>
</ul>

</div>



  <p>Original <a href="https://github.com/Differential/meteor-blog">source code</a> package by <a href="http://differential.com">Differential</a>
  </p>	
</template>