<template name="home">
  <h1>Welcome to Ecocity Notes</h1>


  <span>this is some random text</span>





  Original <a href="https://github.com/Differential/meteor-blog">source code</a> package by <a href="http://differential.com">Differential</a>
</template>